@import-normalize;
@import 'header.css';
@import 'footer.css';
@import 'note.css';
@import 'home.css';

*, *::before, *::after {
 box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
 margin: 0;
}

.container {
 width: 100%;
 max-width: 550px;
 min-height: 100vh;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 background: whitesmoke;
}