.search-form {
 width: 100%;
 padding: 20px;
}

.search-input {
 width: 100%;
 font-family: inherit;
 border: 1px solid #ccc;
 padding: 10px;
 font-size: 1.2rem;
 outline: none;
 border-radius: 5px;
 background: #fff;
}